body {
  background-image: url(img/kitty.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}
p {font-size: 20px;
font-weight: bold;
background-color: white;}